.banner_container{
    height: 70vh;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
}

.banner_title{
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
}

.banner_description{
    width: 45rem;
    line-height: 1.3rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem 0.5rem 2rem ;
    margin-right: 2rem;
    background-color: rgba(51,51,51,0.5);
}

.banner_button:hover{
    color:#000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner_contents{
    margin-left: 25px;
    padding-top: 100px;
    height: 70%;
}

.banner_fadeBottom{
    height: 7.4rem;
    width: 100%;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37, 0.61),
        #111
    );
}

/* movie list style */
.movie_card{
    padding: 0;
    width: 100%;
    position: relative;
    transition: all .4s ease-in-out;
    height: 150px;
}

.movie_card img{
    border-radius: 5px;
    width: 100%;
    height: 150px;
    transition: all .4s ease-in-out;
}

.movie_card:hover{
    z-index: 5;
    transition: all .2s .4s ease-in-out;
}


.movie_card:hover img{
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: scale(1.05);
    z-index: 5;
}

.movie_card:hover .movie_card_meta{
    display: flex;
    transform: scale(1.05);
    transition: all .4s ease-in-out;
}

.movie_card_meta{
    display: none;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    bottom: 0;
    min-height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: .4rem .8rem;
    opacity: 0;
    animation: fade-in .2s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        top: 10rem;
        z-index: -10;
    }

    to {
        opacity: 1;
        top: 0px;
        z-index: 2;
    }
}