.header_container{
    height: 8vh;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding: 0 1.7rem;
}

.header_container .logo{
    text-decoration: none;
    color: white;
}